
$primaryTextColor: #ffffff;
$secondaryTextColor: #ffffff50;

$primaryBgColor: #898A84;
$secondaryBgColor: #898A8490;
$tertiaryBgColor: #494948;
$tertiaryBgColorLight: #49494840;

$greenAccentColor: #74C774;


