<div class="container">
        
    <div class="footer">
        <div class="logo">
            <a href="/">
                <img src="./img/logo.png" alt="">
            </a>
        </div>
        <div class="links">
            <a href="">
            <img src="./img/svg/viber.svg" alt="viber">
            </a>
            <a href="https://www.instagram.com/nadiya_nadiya">
            <img src="./img/svg/instagram.svg" alt="instagram">
            </a>
            <a href="https://t.me/nadiya_tita">
            <img src="./img/svg/telegram.svg" alt="telegram">
            </a>
            <a href="https://www.facebook.com/nadiya.tytarenko">
            <img src="./img/svg/facebook.svg" alt="facebook">
            </a>
        </div>
      <div class="tabs">
            <a href="#" data-goto=".programs-screen">Programs</a>
            <a href="#" data-goto=".price-screen">Pricing</a>
            <a href="#" data-goto=".order-screen">Order</a>
            <a href="#" data-goto=".recipe-screen">Recipes</a>
            <a href="#" data-goto=".questions-screen">Questions</a>        
      </div>
    </div>
    <div class="copyright">
      <p><b>EatHealthy</b> Copyright © 2021 All Rights Reserved</p>
    </div>
    
</div>