<div class="container">
    <nav class="navbar">
      <a href="#">
        <img src="./img/logo.png" alt="">
      </a>
      <div class="burger"><span></span></div>
      <div class="header-menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a class="menu-link" href="#" data-goto=".programs-screen">Programs</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#" data-goto=".price-screen">Pricing</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#" data-goto=".order-screen">Order</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#" data-goto=".recipe-screen">Recipes</a>
          </li>
        </ul>
        <div class="header-phone">
          <a href="tel:+380962491269"><b>+380 96 249 12 69</b></a>
          <span>mon - sun: 9.00 - 18.00</span>
        </div>
      </div>
    </nav>
 </div>
