<section class="main-screen">
        
    <div class="container">
      <div class="content-right">
        <div class="text">
          <h1>Healthy Eating</h1>
          <h2>For those who care about their body, health and time</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste itaque eius aliquid magnam dolorem voluptatum, ex voluptatem possimus reiciendis eos? Nesciunt, libero. Aperiam mollitia distinctio minus reiciendis architecto. Dolorem, nam.</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste itaque eius aliquid magnam dolorem..</p>
        </div>
      
      </div>
    </div>
    

  </section>