<section class="price-screen">
    <div class="container">
        <div class="pricing">
            <div class="tbl-title">Price per day</div>
            <div class="tbl-body">
                <div class="flex tbl-row">
                    <div>Test-day</div>
                    <div class="old-price">
                      <span>530 uah</span>
                      <span>371 uah</span>
                    </div>
                </div>
                <div class="flex tbl-row">
                    <div>1 day</div>
                    <div class="old-price">
                      <span>530 uah</span>
                      <span >371 uah</span>
                    </div>
                </div> 
                <div class="flex tbl-row">
                    <div>from 7 days</div>
                    <div class="old-price">
                      <span>500 uah</span>
                      <span>510 uah</span>
                    </div>
                </div> 
                <div class="flex tbl-row">
                    <div>from 14 days</div>
                    <div class="old-price">
                      <span>500 uah</span>
                      <span>490 uah</span>
                    </div>
                </div> 
                <div class="flex tbl-row">
                    <div>from 30 days</div>
                    <div class="old-price">
                      <span>500 uah</span>
                      <span>465 uah</span>
                    </div>
                </div>
                <div class="flex tbl-row">
                    <div>Breakfast and dinner</div>
                    <div class="old-price">
                      <span>490 uah</span>
                      <span>425 uah</span>
                    </div>
                </div> 
            </div>
        </div>
    
        <div class="left-panel">
            <div>
              <span>pricing</span>
            </div>
          </div>
    </div>
</section>