<section class="programs-screen">
    <div class="container">
      <div class="programs">
          <div class="programs-btns">
            <button class="program-btn btn" data-program="express">
              Express Fit <br>
              <b>800кКал</b>
            </button>
            <button class="program-btn btn" data-program="slim">
              Slim <br>
              <b>1000кКал</b>
            </button>
            <button class="program-btn btn" data-program="fitness">
              Fitness <br>
                <b>1300кКал</b>
            </button>
            <button class="program-btn btn" data-program="balance">
              Balance <br>
                <b>1600кКал</b>
            </button>
            <button class="program-btn btn" data-program="strong">
              Strong <br>
                <b>2000кКал</b>
            </button>
            <button class="program-btn btn" data-program="veggie">
              Veggie <br>
                <b>2000кКал</b>
            </button>
            <button class="program-btn btn" data-program="fish">
              Fish <br>
                <b>2000кКал</b>
            </button>
          </div>

          <div class="programs-text">
            <div class="program-text" id="express">
              <p>
                <b>Express Fit</b> healthy eating program. Ideal for: Losing weight in the shortest possible time, increasing energy and strength, losing weight with a sedentary lifestyle. 
              </p>
            </div>
            <div class="program-text" id="slim">
              <p>
                <b>Slim</b> healthy eating program. Ideal for: smooth and effective weight loss, weight normalization in the postpartum period, weight loss with a sedentary lifestyle.
              </p>
            </div>
            <div class="program-text" id="fitness">
              <p>
                <b>Fitness</b> healthy eating program. Ideal for: stable and smooth weight loss, weight loss in combination with swimming, yoga, fitness and light sports, consolidation of the achieved result. 
              </p>
            </div>
            <div class="program-text" id="balance">
              <p>
                <b>Balance</b> healthy eating program. Ideal for: comfortable weight loss, moderately active lifestyle. Ideal for: comfortable weight loss, moderately active lifestyle.
              </p>
            </div>
            <div class="program-text" id="strong">
              <p>
                <b>Strong</b> healthy eating program. Ideal for: maintaining weight for medium-sized men, drying stage for trained athletes, gaining muscle mass for female athletes with an optimal ratio.
              </p>
            </div>
            <div class="program-text" id="veggie">
              <p>
                <b>Veggie</b> healthy eating program - This program is designed for those who want to get energy from fruits and vegetables, while avoiding meat. The dishes use mainly plant foods. 
              </p>
            </div>
            <div class="program-text" id="fish">
              <p>
                <b>Fish</b> healthy eating program. Fortified with a variety of plant foods including fish, seafood and dairy products. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>

      </div>
      <div class="week-content">

          <ul class="navbar">
            <li class="menu-item">
              <a class="menu-link" data-for-day="mon">Mon</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" data-for-day="tue">Tue</a>
            </li >
            <li class="menu-item">
              <a class="menu-link" data-for-day="wed">Wed</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" data-for-day="thu">Thu</a>
            </li>
            <li class="menu-item">
              <a class="menu-link"  data-for-day="fri">Fri</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" data-for-day="sat">Sat</a>
            </li>
            <li class="menu-item">
              <a class="nav-link" data-for-day="sun">Sun</a>
            </li>
          </ul>

          <div class="week-menu"></div>

      </div>
      
    </div>
    <div class="left-panel">
      <div>
        <span>Programs</span>
      </div>
    </div>
    
</section>

