<section class="recipe-screen">
    <div class="container">
        <div class="meal-wrapper">

            <div class="meal-search">
                <h2 class="title">Find meal</h2>
                <blockquote>Real food doesn`t have ingredients, real food is ingredients. <br>
                    <cite>-- Jamie Oliver</cite>
                </blockquote>

                <div class="meal-search-box">
                    <div class="search-control">
                        <input type="text" placeholder="Enter an ingredient" id="search-input">
                        <button type="submit" class="search-btn btn" id="search-btn">
                            <i class="fas fa-search"></i>
                        </button> 
                    </div> 
                    <div class="autocom-box"></div>
                </div>
            </div>

            <div class="meal-result">
                <h2 class="title">Your Search Results: </h2>
                <div id="meal"></div>
            </div>

            <div class="meal-details">
                <button type="button" class="btn recipe-close-btn" id="recipe-close-btn">
                    <i class="fas fa-times"></i>
                </button>
                <div class="meal-details-content"></div>
            </div>

        </div>

        <div class="left-panel">
            <div>
              <span>Recipes</span>
            </div>
          </div>
    </div>
</section>
