.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.meal-wrapper {
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}
.meal-search {
    margin: 2rem 0 4rem;
}
.meal-search-box {
    margin: 1.2rem 0;
    position: relative;
}
.autocom-box {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    max-height: 250px;
    height: auto;
    background-color: $primaryTextColor;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px $tertiaryBgColor;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.meal-search-box.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.meal-search-box.active .autocom-box li {
    display: block;
}

.autocom-box li {
    color: $tertiaryBgColor;
    list-style: none;
    padding: 8px 12px;
    cursor: default;
    border-radius: 3px;
    display: none;

    &:hover {
        background-color: $greenAccentColor;
        cursor: pointer;
    }
}

.search-control {
    display: flex;
    align-items: stretch;
    outline: 0;  
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);

    > input {
        width: 100%;
        border: 1px solid $greenAccentColor;
        border-top-left-radius: 0.7rem;
        border-bottom-left-radius: 0.7rem;
        padding: 0 60px 0 20px;
    }
    &::placeholder {
        color: $greenAccentColor;
    }
}

.search-btn {
    width: 10%;
    font-size: 1.2rem;
    background-color: $greenAccentColor;
    color: $primaryTextColor;
    border: none;
    padding: 0.5rem;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    transition: all 0.4s linear;

    &:hover {
        background-color: $tertiaryBgColor;
    }
}

#meal{
    margin: 2.4rem 0;
}
.meal-item {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px $primaryTextColor;
    margin: 2rem 0;
    
}
.meal-item img {
    width: 100%;
    margin-bottom: 1.5rem;
}
.recipe-btn{
    background: $greenAccentColor;
    padding: 0.75rem 0;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    transition: all 0.4s linear;
    cursor: pointer;

    &:hover {
        background-color: $tertiaryBgColor;
    }
}

.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $greenAccentColor;
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    z-index: 9;
    display: none;
    padding: 2rem 0;
}

.meal-details::-webkit-scrollbar {
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb {
    background: $primaryTextColor;
    border-radius: 2rem;
    
}

.showRecipe{
    display: block;
}
.meal-details-content{
    margin: 0 2rem;

    .recipe-title{
        letter-spacing: 1px;
        padding-bottom: 1rem;
    }
    .recipe-category{
        background: $primaryTextColor;
        font-weight: 700;
        color: $greenAccentColor;
        display: inline-block;
        padding: 0.2rem 0.5rem;
        border-radius: 0.3rem;
    }
    .recipe-instruct{
        padding: 0.5rem 0 1rem 0;
    }
    .recipe-meal-img img{
        width:25%;
        border-radius: 50%;
        margin: 0 auto;
    }
    .recipe-link{
        margin: 1.4rem 0;

        a {
        font-size: 1.2rem;
        font-weight: 700;
        transition: all 0.4s linear;

            &:hover {
                color: $secondaryTextColor;
            }
        }
    }
}

.meal-details-content p:not(.recipe-category){
    padding: 0.5rem 0 1rem 0;
}
.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: $primaryTextColor;
    border: none;
    width: 5%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}


.notFound{
    grid-template-columns: 1fr!important;
    color: $greenAccentColor;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}


@media screen and (min-width: 576px){
    .meal-search-box{
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        max-width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}